/*This is the CSS page for our final template.*/

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}

.header {
 background-color: #3A506B; /* Muted navy blue */
 color: #BCCCDC; /* Soft pale blue-gray */
 padding: 20px;
 text-align: center;
 font-family: 'Montserrat', sans-serif; /* Apply Montserrat to header */
 font-size: 40px;
 }


h4 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif; 
}
h3 {
	font-size: 30px;
}
p {
	font-size: 20px;
	font-family: 'oswald', serif;
}
img{
	float: right;
	margin-right: 5%;
	margin-left: 5%;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}	
}
/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: lightblue;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}	
 .list {
 	border:2px solid darkblue;
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
}
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
}